  body {
    width: 800px;
    margin: 0 auto;
  }
  html {
    font-size: 14px; 
    font-family: 'PT Sans', sans-serif;
  }
  /* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  body {
    background-color: olive;
  }
}